html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.theme {
  color: blueviolet;
  background-color: #f3f3fa;
}

.theme-alt {
  color: #f3f3fa;
  background-color: blueviolet;
}

h1 {
  font-size: 25px;
  font-weight: 700;
}

h2 {
  font-weight: 700;
  font-size: 18px;
}

h3 {
  font-weight: 300;
  font-size: 13px;
}

body {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  height: 75px;
}

.conteudo {
  flex-grow: 1;
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
}

.conteudo > * {
  margin: 10px;
}

.footer {
  height: 50px;
}

.jogo {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* JOGO STATS */
.jogo-stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.jogo-stats > *:not(:nth-child(2)) {
	width: 225px;
}

.jogo-stats > *:nth-child(1) {
	text-align: left;
}

.jogo-stats > *:nth-child(3) {
	text-align: right;
}


.botao-restart {
  width: 20px;
  cursor: pointer;
}

.timer {
  font-size: 28px;
  font-weight: 800;
  color: rgba(250, 255, 0, 1);
}

.jogadas {
  font-size: 15px;
  font-weight: 400;
}

.jogadas-bold {
  font-weight: 700;
}

/* JOGO AREA */
.jogo-area {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(6, 75px);
  grid-template-rows: repeat(4, 75px);
  justify-content: center;
  align-content: center;
  row-gap: 20px;
  column-gap: 15px;
  border-radius: 15px;
}

.celula {
  width: 75px;
  height: 85px;
  background-color: rgba(131, 255, 165, 1);
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color: transparent;
  text-align: center;
}

.celula > * {
	display: none;
	max-width: 100%;
	max-height: 100%;
}

.celula:hover {
  cursor: pointer;
}

.celula.virado {
  cursor: default;
  background-color: gray;
  color: white;
}

.celula.virado > *:not(img) {
	display: block;
}


/* RANKING */
.ranking {
  width: 250px;
  border-left: 1px solid #f3f3fa;
  padding-left: 15px;
}

.ranking-title {
  display: flex;
  justify-content: center;
  color: white;
}

.ranking-position {
  font-weight: 600;
  margin-right: 10px;
  font-size: 13px;
  color: white;
}

.ranking-user {
  display: flex;
  align-items: center;
  margin-left: 10px;
  color: white;
}

.ranking-avatar {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: bisque;
  margin-right: 10px;
}

.ranking-trophy {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}